@use '@angular/material' as mat;

html {
    height: 100%;
    // LIGHT THEME (Default)
    @include mat.theme((color: (primary: mat.$azure-palette,
                tertiary: mat.$blue-palette,
            ),
            typography: Roboto,
            density: 0,
        ));
}

body {
    height: 100%;
    margin: 0;

    // Default to Light Scheme
    color-scheme: light;
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    font: var(--mat-sys-body-medium);
}

// DARK MODE SUPPORT check (System Preference)
@media (prefers-color-scheme: dark) {
    html {
        @include mat.theme((color: (primary: mat.$azure-palette,
                    tertiary: mat.$blue-palette,
                    theme-type: dark),
                typography: Roboto,
                density: 0,
            ));
    }

    body {
        color-scheme: dark;
        // Variables update automatically with mat.theme include
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-up {
    animation: fadeInUp 0.4s ease-out forwards;
}